---
BasedOnStyle: google
IndentWidth: 2
---
Language: Cpp
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: All
---
